<form *ngIf="form" [formGroup]="form" class="mt-3">
  <h1 class="text-center">{{  product ? 'Edit' : 'Create' }} product</h1>

  <div
    class="form-group"
    [ngClass]="{ 'invalid': hasError('title') }"
  >
    <label for="title">Name</label>
    <input type="text" id="title" class="form-control" formControlName="title">

    <div *ngIf="hasError('title')">
      <small *ngIf="form.get('title').errors.required">
        Please write title...
      </small>
    </div>
  </div>

  <div
    class="form-group"
    [ngClass]="{ 'invalid': hasError('manufacturer') }"
  >
    <label for="manufacturer">Manufacturer</label>
    <input type="text" id="manufacturer" class="form-control" formControlName="manufacturer">

    <div *ngIf="hasError('manufacturer')">
      <small *ngIf="form.get('manufacturer').errors.required">
        Please write manufacturer...
      </small>
    </div>
  </div>

  <div
    class="form-group"
    [ngClass]="{ 'invalid': hasError('cost') }"
  >
    <label for="cost">Cost</label>
    <input type="text" id="cost" class="form-control" formControlName="cost">

    <div *ngIf="hasError('cost')">
      <small *ngIf="form.get('cost').errors.required">
        Please write cost...
      </small>
    </div>
  </div>

  <div
    class="form-group"
    [ngClass]="{ 'invalid': hasError('description') }"
  >
    <label for="description">Description</label>
    <textarea id="description" class="form-control" formControlName="description"></textarea>

    <div *ngIf="hasError('description')">
      <small *ngIf="form.get('description').errors.required">
        Please write description...
      </small>
    </div>
  </div>

  <button
    type="button"
    (click)="saveProduct.emit(form)"
    [disabled]="form.invalid"
    class="btn btn-dark"
  >
    Save
  </button>
</form>
<!-- [disabled]="form.invalid || isEdited" -->