// general-variabels
$danger-color: #dc3545;
$main-background: #f8f9fa;

// styles
body {
  background-color: $main-background;
}

.form-group {
  &.invalid {
    color: $danger-color;

    input {
      border-color: $danger-color;
    }
  }
}
